<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<div class="container d-flex justify-content-center align-items-start my-5 " style="height:100vh">
        
    <div class="row">
        <div class="col-lg-12  bg-success p-3 rounded-3 text-white">
            <h1>Strona główna.😎 Witaj!!!</h1>
            <h2>To jest blog</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ratione ipsum debitis asperiores earum consequatur sit accusantium in vel non maiores, quam facere inventore nemo temporibus quod. Ab suscipit totam at itaque error quod, commodi voluptatibus est, quia facere velit laborum, quae voluptates maiores. Laudantium facere impedit ipsum deserunt ipsam molestias sed doloribus libero. Magnam necessitatibus neque voluptate quisquam molestiae animi quae facere. Nisi consectetur sint commodi libero repellendus non deserunt saepe delectus officiis nobis magnam porro hic alias placeat magni error, vero rem nulla odio ipsam sunt incidunt distinctio quibusdam? Molestias obcaecati similique repudiandae quidem quibusdam maiores illo dolores.</p>
        </div>
    </div>
   
<%-include('./partials/footer')%>